html * {
    font-size: 1.1rem;
    font-family: Nunito, sans-serif;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding: 10px;
    margin: 10px;
}


.container-sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}