html * {
    font-size: 1.1rem;
    font-family: Nunito, sans-serif;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding: 10px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}