.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.navbar__logo {
  font-size: 24px;
  margin: 0;
  padding: 10px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: flex-end;
}

.navbar__menu-item {
  margin: 0 10px;
  padding: 10px;
}

.navbar__menu-item-active {
  background-color: #525252;
}

.navbar__menu-item-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}