{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Hello world</h1>


    <div class="user-card">
        <img class="user-card__img" src="{{ url_for('static', filename='img/profile-picture.jpg') }}" alt="Profile picture">
        <h2 class="user-card__field-bold">John Doe</h2>
        <p class="user-card__field">Web Developer</p>
        <p class="user-card__field">john.doe@example.com</p>
        <p class="user-card__field">+79999999999</p>
        <a class="user-card__button" href="#">Edit Profile</a>
      </div>


</div>

{% endblock %}